<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Vote</h1>
</div>

<form action="/submitVote" method="post">
    <% gamesList.forEach(function(game) { %>
            <div class="container">
                <input type="checkbox" name="checkbox" value="<%=game.name%>">
                <label for="<%=game.name%>"><%=game.name%></label>
            </div>
    <% }); %>

    <div class="container">
        <button class="btn btn-dark btn-lg" type="submit" name="submit">Submit</button>
    </div>
</form>

<%- include('partials/footer') %>
